$light-grey: #EFEFEF;


.todo-container {
	border: 1px solid $light-grey;
	padding: 0px 20px 20px 20px;
	border-radius: 6px;
	background: white;
}

.todo-element {
	margin: 10px 0px 10px 0px;
}

body {
	background-color: white;
}

.main {
	background: #f7f7f7;
}